@page "/conferences"

@using Grpc.Net.Client
@using ProtoBuf.Grpc.Client

@using BlazorWasmVirtualization.Shared.DTO
@using BlazorWasmVirtualization.Shared.Contracts

@inject GrpcChannel _grpc

<h1>Conferences</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <Virtualize Items="@_conferences" Context="conf">
            <ItemContent>
                <tr @key="@conf.ID">
                    <td>@conf.Title</td>
                </tr>
            </ItemContent>
            <Placeholder>
                <tr>
                    <td>
                        Loading item...
                    </td>
                </tr>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>

@code {
    private IConferencesService _conferencesService;
    private List<ConferenceOverview> _conferences = new List<ConferenceOverview>();

    protected override async Task OnInitializedAsync()
    {
        _conferencesService = _grpc.CreateGrpcService<IConferencesService>();
        _conferences = await _conferencesService.ListAllConferencesAsync();
    }
}