@namespace BlazorLibs.Webcam

@page "/webcam"

@using Microsoft.JSInterop

@implements IAsyncDisposable

<h1>Webcam</h1>

<div class="camera">
    <video id="@_options.VideoID">
    </video>
</div>

<div class="output">
    <img id="@_options.PhotoID"
         alt="">
</div>

<div>
    <button class="btn btn-primary" @onclick="StartVideoAsync">Start video</button>
    <button class="btn btn-primary" @onclick="TakePictureAsync">Take picture</button>
</div>

<canvas id="@_options.CanvasID">
</canvas>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    private WebcamService _webcam;

    private WebcamOptions _options = new WebcamOptions()
    {
        CanvasID = "canvas",
        VideoID = "video",
        PhotoID = "photo"
    };

    protected override void OnInitialized()
    {
        _webcam = new WebcamService(JSRuntime);
        _options.Width = 320;
    }

    public async Task StartVideoAsync()
    {
        await _webcam.StartVideoAsync(_options);
    }

    public async Task TakePictureAsync()
    {
        await _webcam.TakePictureAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_webcam != null)
        {
            await _webcam.DisposeAsync();
        }
    }
}